<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Forget Password</title>
</head>
<body class="bg-info my-5 d-flex justify-content-center">
    <div class="w-50 bg-white rounded p-3">
        <h3>Forget Password</h3>
        <form action="" method="post">
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <button class="btn btn-success mt-3" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
